@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  color: #333333;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  display: block;
  text-decoration: none;
}

/* ------------------------------------------
  モバイル
------------------------------------------ */

.wrapper {
  padding: 0 17.5px;
}

.contents {
  max-width: 800px;
  margin: 0 auto;
}

/* ヘッダー */

.site-title {
  max-width: 108.9px;
  margin: 36px auto 26px;
  line-height: 1px;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  overflow-x: scroll;
  white-space: nowrap;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left li {
  margin-right: 14px;
}

.nav-right li {
  margin-left: 14px;
}


/* メイン */
main {
  margin-bottom: 100px;
}
/* ビジュアル */
.visual {
  margin-bottom: 10px;
  text-align: center;
}

/* プロダクト */
/* タイトル */
.product .sub-title {
  font-size: 1rem;
  padding: 18px 0;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 20px;
}

/* テキスト */
.product .text {
  line-height: 22px;
  margin-bottom: 30px;
}

/* プライス */
.product .price {
  line-height: 21px;
  margin-bottom: 30px;
}

/* 数量 */
.product .qty {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.product td {
  border: none;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  padding: 10px 0;
}

.product :last-child {
  border-right: none;  
}

.product tr:last-of-type :nth-child(n)  {
  border-bottom: none;  
}

.product .width20 {
  width: 20%;
}

.product .width60 {
  width: 60%;
}

#qty-select {
  width: calc(100% - 20px);
  border: 1px solid #c3c3c3;
  padding-left: 10px;
  appearance: menulist;
}


/* ボタン */
.product .btn a {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #4b4b4b;
  margin-bottom: 30px;
}


/* サイズ */

.product .size {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed;  
}

.product .width16 {
  width: 16%;
}

.product .width28 {
  width: 28%;
}

/* フッター */
footer p {
  font-size: 0.625rem;
  text-align: center;
  margin-bottom: 10px;

}





/* ------------------------------------------
ＰＣ
------------------------------------------ */
@media (min-width: 896px) {
  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ヘッダー */
  .site-title {
    margin: 46px auto 36px;
  }

  header nav {
    margin-bottom: 26px;
    overflow-x: auto;
  }

  header {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 50px;
  }

  /* メイン */
  main .contents {
    display: flex;
    justify-content: space-between;
  }

  /* ビジュアル */
  .visual {
    width: 50%;
    margin-bottom: 0;
  }

  /* プロダクト */
  .product {
    width: 42.5%;
  }
}
